:root {
  --dark-cyan: #0E8784;
  --dark-grey-blue: #333D4B;
  --pale-orange: #FDD6BA;
  --light-grey-bg: #FEFCF7;
  --grey: #83888F;
  --main-font: "Barlow", "Arial", sans-serif;
  --secondary-font: "Fraunces", "Times New Roman", serif;
}

/* FONTS */
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
  url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces9pt-Black.woff2") format("woff2"),
  url("../fonts/Fraunces9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"),
  url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

/* PAGE */

.page__container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  font-family: "Arial", sans-serif;
  background-color: var(--light-grey-bg);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* REUSABLE */
.btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 6px;
  text-decoration: none;
  font-family: var(--secondary-font);
  transition: background-color 0.3s ease, opacity 0.3s ease;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--dark-cyan);
  color: var(--light-grey-bg);
}

.btn--primary:hover {
  background-color: #66D2CF;
}

.btn--primary:active {
  opacity: 0.6;
}

.btn--disabled {
  background-color: #E2DEDB;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1340px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;

}

/* SITE-HEADER */
.site-header {
  position: relative;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  text-decoration: none;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.logo:hover{
  opacity: 0.8;
}

.logo:active{
  opacity: 0.6;
}

.logo__img {
  display: block;
}

.site-header__toggler {
  width: 16px;
  height: 15px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-position: center center;
  background-color: transparent;
  background-image: url("../img/navbar-icon.svg");
  background-repeat: no-repeat;
}

.sitenav {
  position: absolute;
  top: 100%;
  left: -24px;
  right: -24px;
  height: calc(100vh - 90px);
  padding: 40px 24px;
  text-align: center;
  transform: translateY(-1200px);
  background-image: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
  font-family: var(--secondary-font);
  transition: transform 0.6s ease;
  overflow: auto;
}

.site-header--open .site-header__toggler {
  background-image: url("../img/cancel-nav-icon.svg");
  background-repeat: no-repeat;
}

.site-header--open .sitenav {
  transform: translateY(0);
}

.sitenav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav__link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--dark-grey-blue);
  transition: color 0.3s ease, opacity 0.3s ease;
}

.sitenav__link:hover{
  color: var(--dark-grey-blue);
}

.sitenav__link:active{
  opacity: 0.6;
}

/* SITE-CONTENT */
.site-content {
  flex-grow: 1;
}



/* HERO */
.hero {
  padding: 100px 24px;
  background-image: url("../img/mobile-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  border-radius: 10px;
  color: white;
}

.hero__inner {
  text-align: center;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 35px;
  line-height: 40px;
  color: var(--light-grey-bg);
  font-family: var(--secondary-font);
}

.hero__info {
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--light-grey-bg);
  opacity: 0.8;
}

.hero__info{
  margin-top: 0;
  margin-bottom: 24px;
}


/* COLLECTION */

.collection{
 padding-top: 120px;
 padding-bottom: 120px;
}

.collection__heading{
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 900;
  font-size: 40px;
  line-height: 72px;
  text-align: center;
  color: var(--grey);
  background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
  background-color: #83888f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

}

.collection__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.collection__item {
  width: 282px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.collection__item:not(:last-child){
  margin-bottom: 48px;
}

.coffee__img{
  margin-bottom: 24px;
}

.coffee__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: var(--secondary-font);
  color: var(--dark-grey-blue);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.coffee__info {
  margin:0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

.features {
}

.features-top {
  position: relative;
  padding: 64px 24px 24px;
  border-radius: 10px 10px 0 0;
  background-color: var(--dark-grey-blue);
  color: var(--light-grey-bg);
  text-align: center;
}

.features-top::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 630px;
  background-color: #282F38;
  z-index: -1;
  border-radius: 0 0 10px 10px;

}

.features__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--secondary-font);
  font-size: 28px;
  line-height: 1;


}

.features__info {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  color: var(--light-grey-bg);
}

.features__list {
  margin: 0;
  padding: 36px 24px 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.features__item {
  border-radius: 8px;
  padding: 72px 12px 50px;
  position: relative;
  text-align: center;

}
.features__item:not(:last-child){
  margin-bottom: 24px;
}

.features__item::before{
  flex-shrink: 0;
  margin-bottom: 56px;
  content: '';
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  display: block;
}

.features__item--quality::before {
  background-image: url("../img/feature-quality.svg");
}

.features__item--benefits::before {
  background-image: url("../img/feature-benefits.svg");
}

.features__item--shipping::before {
  background-image: url("../img/feature-shipping.svg");
}


.features__item:not(:last-child){
  margin-bottom: 24px;
}

.item-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--dark-cyan);
  color: var(--light-grey-bg);
}

.item-feature__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--secondary-font);
}

.item-feature__info {
  margin:0;
  padding-left: 20px;
  padding-right: 20px;
}

/* WORKING PROCESS */
.working-process {
  padding-top: 120px;
  padding-bottom: 120px;
}

.working-process__heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--secondary-font);
  color: var(--grey);
  text-align: center;
}

.working-process__list {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style: none;
  counter-reset: steps;
}

.working-proces__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  counter-increment: steps;
}

.working-proces__item:not(:last-child){
  margin-bottom: 56px;
}

.working-proces__item::before {
  width: 100px;
  margin-bottom: 24px;
  content: '0'  counter(steps);
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: var(--pale-orange);
  text-align: center;
  display: block;

}

.item-process__box {}

.item-process__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--secondary-font);
  color: var(--dark-grey-blue);
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
}

.item-process__info {
  margin-top: 0;
  margin-bottom: 0;
}
.working-process__link-box{
  text-align: center;
}

/* FOOTER */

.footer {
  padding-top: 20px;
  padding-bottom: 72px;

}

.footer__wrapper {
  padding: 55px;
  background-color: var(--dark-grey-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  display: flex;
  margin-bottom: 48px;
  cursor: pointer;
}

.footer__logo:hover{
  opacity: 0.8;
}

.footer__logo:active{
  opacity: 0.6;
}
.logo__img {
  display: block;
}



.footer__list {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  list-style: none;
  text-align: center;

}

.footer__item:not(:last-child){
  margin-bottom: 24px;
}


.footer__link{
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: var(--grey);
  text-decoration: none;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.footer__link:hover{
  color: white;
}

.footer__link:active{
  opacity: 0.6;
}

.sc {

}

.sc__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.sc__item:not(:last-child) {
  margin-right: 24px;
}

.sc__link {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  transition: color 0.3s ease, opacity 0.6s ease;
}

.sc__link:hover{
  color: var(--pale-orange);
}

.sc__link:active{
  opacity: 0.6;
}


@media  only screen and (min-width: 540px) {
  .hero{
    background-position: center top;
  }

  .collection__item{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .coffee__inner{
    width: 270px;
  }

  .coffee__img{
    margin-bottom: 0;
    margin-right: 35px;
  }
}

@media only screen and (min-width: 768px){
  /* TABLET */
  .container{
    padding-left: 40px;
    padding-right: 40px;
  }

  /* SITE-HEADER */

  .site-header {
    position: relative;
    padding-top: 40px;
    padding-bottom: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  .logo {
    display: inline-block;
    text-decoration: none;
  }

  .logo__img {
    display: block;
    width: 236px;
    height: 26px;
  }

  .site-header__toggler {
    display: none;

  }

  .sitenav {
    position: static;
    display: flex;
    align-items: center;
    top: 0%;
    left: 0;
    right: 0;
    padding: 0;
    height: auto;
    text-align: center;
    transform: translateY(0px);
    background-image: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    font-family: var(--main-font);
    transition: transform 0s ease;
    overflow: visible;
  }

  .sitenav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .sitenav__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 33px;
  }

  .sitenav__link {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--grey);
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }

  /* TABLET HERO  */
  .hero {
    padding: 104px 58px;
    background-image: url("../img/hero-bg-tablet.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
    color: white;
  }

  .hero__inner {
    width: 400px;
    text-align: left;
  }

  .hero__heading {
    margin-top: 0;
    width:  330px;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    color: var(--light-grey-bg);
    font-family: var(--secondary-font);
  }

  .hero__info {
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    color: var(--light-grey-bg);
    opacity: 0.8;
  }

  .hero__info {
    margin-top: 0;
    margin-bottom: 24px;
  }

  /* COLLECTION */

  .collection {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .collection__heading {
    width: 100%;
    margin-top: 0;
    margin-bottom: 13px;
    font-family: var(--secondary-font);
    font-size: 86px;
    line-height: 72px;
    white-space: nowrap;
    margin-bottom: -30px;

  }

  .collection__list {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }

  .collection__item {
    width: 573px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .collection__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .coffee__img {
    width: 255px;
    height: 193px;
    margin-bottom: 0px;
    margin-right: 36px;

  }

  .coffee__heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: var(--secondary-font);
    color: var(--dark-grey-blue);
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }

  .coffee__info {
    margin: 0;
    font-size: 15px;
    line-height: 25px;
  }

  /* FEATURE */


  .features-top{
    padding-top: 56px 74px 34px;
  }

  .features-top::after{
    background-color: var(--dark-grey-blue);
    height: 334px;
  }

  .features__list{
    flex-direction: column;
  }

  .features__item {
    padding: 40px 48px 40px 70px;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

   .features__item::before{
     margin: 0;
     margin-right: 55px;
   }


  .item-feature {
    text-align: left;
  }

  .item-feature__box {
    text-align: left;
  }

  .item-feature__heading{
    margin-bottom: 16px;
  }

  .item-feature__info{
    padding: 0;
  }


  /* WORKING PROCESS TABLET */

  .working-process{
    padding-top: 144px;
    padding-bottom: 144px;
  }

  .working-process__heading{
    margin-bottom: 55px;
    text-align: left;
    font-size: 24px;
    line-height: 32px;
  }

  .working-process__circles{
    position: relative;
    margin-bottom: 62px;
    width: 500px;
    height: 2px ;
    background-color: #FDD6BA;
    z-index: 1;
  }

  .working-process__circle{
    position: absolute;
    display: inline-block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid #0E8784;
    transform: translateY(-50%);
    z-index: 1;
    background-color: var(--light-grey-bg);
   }


   .working-process__circle--start{
     left: 0;
   }
   .working-process__circle--middle{
    left: calc(50% + -13px);

   }

   .working-process__circle--end{
    right: 0;

   }

  .working-process__list{
    display: flex;
    flex-direction: row;
    margin-bottom: 44px;

  }

  .working-proces__item{
    width: 225px;
    justify-content: start;
    text-align: left;
    align-items: start;
  }

  .working-proces__item::before{
    margin-bottom: 42px;

  }

  .working-proces__item:not(:last-child){
    margin-right: 10px;
    margin-bottom: 0;
  }


  .working-process__link-box{
    text-align: left;
  }

  /* FOOTER TABLET */
  .footer{

  }

  .footer__wrapper{
    padding: 54px 190px 54px 215px;
  }

  .footer__logo{
    margin-bottom: 32px;
  }

  .footer__list{
    display: flex;
    margin-bottom: 65px;
  }


  .footer__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 32px;
  }

}


@media only screen and (min-width:1150px){
  .container{
    padding-left: 30px;
    padding-right: 30px;
  }

   /* DESKTOP HERO  */
   .hero {
     padding: 115px 58px;
     background-image: url("../img/hero-bg.jpg");
     background-repeat: no-repeat;
     border-radius: 10px;
     color: white;
   }

   .hero__inner {
     max-width: 400px;
     text-align: left;
   }

   .hero__heading {
     margin-top: 0;
     width: 330px;
     margin-bottom: 24px;
     font-weight: 900;
     font-size: 40px;
     line-height: 40px;
     color: var(--light-grey-bg);
     font-family: var(--secondary-font);
   }

   .hero__info {
     margin-bottom: 40px;
     font-weight: normal;
     font-size: 15px;
     line-height: 25px;
     text-align: left;
     color: var(--light-grey-bg);
     opacity: 0.8;
   }

   .hero__info {
     margin-top: 0;
     margin-bottom: 24px;
   }

   /* DESKTOP COLLECTION */
   .collection {
     padding-top: 135px;
     padding-bottom: 200px;
   }

   .collection__heading {
     width: 100%;
     margin-top: 0;
     margin-bottom: 0px;
     font-family: var(--secondary-font);
     font-weight: 900;
     font-size: 150px;
     line-height: 120px;
     white-space: nowrap;
     margin-bottom: -50px;

   }

   .collection__list {
     margin: 0;
     /* margin-top: 0px; */
     padding: 0;
     margin-left: auto;
     margin-right: auto;
     list-style: none;
     display: flex;
   }

   .collection__item {
     width: 255px;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
   }

   .collection__item:not(:last-child) {
     margin-bottom: 0px;
     margin-right: 30px;
   }

   .coffee__inner {}

   .coffee__img {
     width: 255px;
     height: 193px;
     margin-bottom: 70px;
     margin-right: 0px;

   }

   .coffee__heading {
     margin-top: 0;
     margin-bottom: 24px;
     font-family: var(--secondary-font);
     color: var(--dark-grey-blue);
     font-weight: 900;
     font-size: 24px;
     line-height: 32px;
   }

   .coffee__info {
     margin: 0;
     font-size: 16px;
     line-height: 26px;
   }

   /* DESKTOP FEATURE */

   .features {}

   .features-top {
     position: relative;
     padding: 100px 360px 40px;
     border-radius: 10px 10px 0 0;
     background-color: #292F39;
     color: var(--light-grey-bg);
     text-align: center;
   }

   .features-top::after {
     content: '';
     position: absolute;
     top: 100%;
     left: 0;
     right: 0;
     height: 290px;
     z-index: -1;
     border-radius: 0 0 10px 10px;
     background-color: #292F39;

   }

   .features__heading {
     margin-top: 0;
     margin-bottom: 24px;
     font-family: var(--secondary-font);
     font-size: 28px;
     line-height: 1;


   }

   .features__list {
     margin: 0;
     padding: 36px 85px 0;
     display: flex;
     flex-direction: row;
     list-style: none;
   }

   .features__item {
     padding: 72px 47px 50px;
     width: 350px;
     text-align: center;
     margin-bottom: 0px;
     flex-direction: column;
   }

   .features__item::before{
     margin-bottom: 56px;
     margin-right: 0;
   }

    .features__item:not(:last-child){
      margin-right: 30px;
      margin-bottom: 0;
    }
   .item-feature__box{
     text-align: center;
   }



   .working-process{
    padding: 200px 85px 180px;

   }
   .working-process__heading{
     margin-bottom: 95px;
   }

   .working-process__circles{
     width: 760px;
     margin-bottom: 82px;
   }


   .working-process__list{
     margin-bottom: 84px;
   }

   .working-proces__item{
     width: 285px;
   }
  .working-proces__item:not(:last-child){
    margin-right: 85px;
  }

  .item-process__heading{
    margin-bottom: 42px;
  }


   /* FOOTER DESKTOP */

   .footer__wrapper{
     padding: 47px 85px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
   }

   .footer__list{
     margin-top: 0;
     margin-bottom: 0;
   }

   .footer__logo{
     margin-bottom: 0;
     margin-right: 100px;
   }

   .sc__list{
     margin-left: auto;
     display: flex;
     align-items: center;
   }
}
